    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
     :roots {
        --green: #27ae60;
        --dark-color: #219150;
        --black: #444;
        --light-color: #666;
        --border: .1rem solid rgba(0, 0, 0, .1);
        --border-hover: .1rem solid var(--black);
        --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
    }
    
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .2s linear;
        transition: none;
        width: 1rem;
    }
    
    html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 5rem;
        scroll-behavior: smooth;
    }
    
    html::-webkit-scrollbar {
        width: 1rem;
    }
    
    html::-webkit-scrollbar-track {
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: var (--black);
    }
    
    section {
        padding: 5rem 9%
    }
    
    .heading {
        text-align: center;
        margin-bottom: 2rem;
        position: relative;
    }
    
    .heading::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 01rem;
        background: rgba(0, 0, 0, .1);
        z-index: -1;
    }
    
    .heading span {
        font-size: 3rem;
        padding: .5rem 2rem;
        color: var(--black);
        background: #fff;
        border: var(--border);
    }
    
    .btn {
        margin-top: 1rem;
        display: inline-block;
        padding: .9rem 3rem
    }
    
    .btn:hover {
        background: var(--dark-color);
    }
    
    .header .header-1 {
        background: #fff;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header .header-1 .logo {
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--black);
    }
    
    .header .header-1 .logo {
        color: var(--green);
    }
    
    .header.header-1 .search-form {
        width: 50rem;
        height: 5rem;
        border: var(--border);
        overflow: hidden;
        background: white;
        display: flex;
    }